.statistics {
  width: 400px;
  margin: 20px auto 0;
  border-radius: 4px;
  overflow: hidden;
}
.title {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #e3e8ed;
  text-align: center;
  text-transform: uppercase;
}
.stat_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stat_item {
  height: 64px;
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.label {
  font-size: 14px;
}
.percentage {
  font-size: 18px;
}
